table, td, tr, th {
    padding: 2px;
    border: 1px solid black;    
    }
    .gras{
        font-weight: bold;
    }
    .italic{
        font-style: italic; 
       }
       .titleBold{
           font-weight: bold;
       }
       .red{
           color: red;
       }
       .green{
           color: green;
       }
       .center{
           text-align: center;
       }
       .arial{
           font-family: Arial;
       }
        .blueBackground{
            background-color: blue;
        }
      body{
          background-image: url(url(https://d2t3xdwbh1v8qy.cloudfront.net/content/B07DQQ561S/resources/380931736);
          background-repeat: no-repeat; 
      }
      